
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
nav {
    background-color:#33beff;
    padding: 30px;
        
}
.btn-header-style {
       background-color: rgb(52, 168, 184);
  padding: 10px;
  border: 0;
  border-radius: 5px;
  margin-top: 50px; /*espaciado hacia arriba*/
}

  

.header-container{
background: blue;
display: flex;
height: 800px;
justify-content: center;
align-items: center;
flex-direction: column;/*centrar de manera vertical*/


}

.bg-header{
    background-image: url("./img/burger-header.jpg");
    background-repeat: no-repeat;/*para que la imagen no se repita cuande quede pequeña*/
    background-size: cover; /*ajustar el anchode la imagen*/
    background-position-y:center ; /*y es vertical y x horizontal*/

}
/* seccion tarjetas*/

.img-size {
    width:300px
}

.card-section{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 60px;
margin-bottom: 40x;

}
.card-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
}

.text-card{
margin top: 16px;px;

}

