.circulo{
  width: 200px;
  height: 200px;
    background-color: green;
    border-radius: 100%;
    margin-top: 4%;
}
.rectangulo{
width: 800px;
height: 200px;
background-color: blue;
margin-top: 4%;
}
.triangulo{

border-top: 40px solid transparent;
border-left: 200px solid transparent;
border-right: 200px solid transparent;
border-bottom: solid rgb(83, 7, 83) 100px;
}
.area-figuras{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}


.rombo{

}

